
@use '../../styles/vars.module';

.contact {
    // overflow: auto;
    margin-top: 10vh;
    width: 80%;
    margin: auto;

    &__form {
        border: 1px solid #000;

        &__button{
            @include vars.button;
    
            &:focus{
                @include vars.button-focus;
            }
          }
    }
} 

@media (min-width: 600px) {
  .contact {
    width: 70%;
  } 
} 

@media (min-width: 800px) {
  .contact {
    width: 50%;
  } 
} 

@media (min-width: 1000px) {
  .contact {
    width: 30%;
  } 
} 