.spectacle {
  height: 100%;
  margin: auto;
  display: flex;
  color: #b6c6c7;
  font-family: sans-serif;

  &__container {
    width: 60%;
    margin: auto;
    padding: 2rem;

    &__banner {
      width: 100%;
      height: 10rem;
      margin: 0 auto 3rem;
      
      & img {
        width: 100%;
        height: 100%;
      }

      & p {
        font-style: italic;
      }
    }

    & h3 {
      border-bottom: 1px solid #d73a3b;
      color: #b6c6c7;
      margin: 1.5rem 0;
      padding-bottom: 0.5rem;
      font-family: Archive, sans-serif;
      font-size: 1.3rem;
    }

    & p {
      text-align: justify;
      margin: auto;
      width: 80%;
      line-height: 1.8;

      & span {
        color: #086766;
        display: block;
        font-size: 1.2em;
        font-style: italic;
        margin-bottom: 0.2rem;
      }
    }
  }
}


@media (min-width: 800px) {  
  .spectacle {
    height: 100%;
    margin: auto;
    display: flex;
    color: #b6c6c7;
    font-family: sans-serif;
  
    &__container {
      width: 75%;
      padding: 2rem;
  
      &__banner {
        width: 100%;
        height: 10rem;
        margin: 0 auto 3rem;
        
        & img {
          width: 100%;
          height: 100%;
        }
  
        & p {
          font-style: italic;
        }
      }
  
      & h3 {
        border-bottom: 1px solid #d73a3b;
        color: #b6c6c7;
        margin: 1.5rem 0;
        padding-bottom: 0.5rem;
        font-family: Archive, sans-serif;
        font-size: 1.3rem;
      }
  
      & p {
        text-align: justify;
        margin: auto;
        width: 80%;
        line-height: 1.8;
  
        & span {
          color: #086766;
          display: block;
          font-size: 1.2em;
          font-style: italic;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}



.spectacles {
  height: 100%;
  margin: 10vh auto 0;
  padding-bottom: 3rem;
  width: 50%;

  &__pictures {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 0;

    &__container {
      position: relative;
      margin-bottom: 0.3rem;
      width: 33%;
      height: 150px;
      background-size: cover;
      cursor: pointer;
       
      &__name {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        color: #fff;

        &:hover {
          opacity: 1;
          font-size: 1.5rem;
          background-color: #040404cb;
        }
      }
    }

  }

  &__container {
    color: #b6c6c7;
    margin-top: 3rem;
    display: flex;

    &__menu {
      background-color: #fff;
      height: 100%;
    }

    &__banner {
      width: 100%;
      height: 10rem;
      margin-bottom: 4rem;
      
      & img {
        width: 100%;
        height: 100%;
      }

      & p {
        font-style: italic;
      }
    }

    & h3 {
      border-bottom: 1px solid #d73a3b;
      color: #b6c6c7;
      margin: 1.5rem 0;
      padding-bottom: 0.5rem;
      font-family: Archive, sans-serif;
      font-size: 1.3rem;
    }

    & p {
      text-align: justify;
      margin: 0 2rem;
      font-family: sans-serif;
      line-height: 1.3;

      & span {
        color: #086766;
        display: block;
        font-size: 1.2em;
        font-style: italic;
        margin-bottom: 0.2rem;
      }
    }
  }
}
