$light-pink-border: 1px solid #dd9ea9;
$dark-pink-border: 1px solid #651011;
$light-blue-border: 1px solid #1c7c84;
$dark-blue-border: 1px solid #0b3c44;

.footer {
    width: 100%;
    height: 7vh;
    background-color: #040404;
    z-index: 999;
    margin: auto;
    font-family: Archive, sans-serif;
    font-size: 0.8em;

    & a {
      color: #b6c6c7;
    }

    &__nav {
      max-width: 80vw;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  

@media (min-width: 650px) {  
  .footer {
    &__nav {
      max-width: 80vw;
      padding: 1rem;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
  

@media (min-width: 900px) {  
  .footer {
    &__nav {
      max-width: 50vw;
    }
  }
}