.collectif {
    height: 100%;
    margin-top: 10vh;
    width: 90%;
    margin: auto;
    color: #b6c6c7 ;


    &__team {
      display: flex;
      flex-direction: column;

      &__display {
        order: 2;
        width: 100%;
        margin-top: 0.5rem;

        &__container {
          width: 90%;
          margin: auto;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: justify;


          & p {
            line-height: 1.5;

            & span {
              font-family: Archive, sans-serif;
              color: #ba4a5c;

            }
          }
        }
      }

      &__container {
        display: flex;

        & div:nth-child(1), & div:nth-child(3) {
          width: 5%;
          text-align: center;
          background-color: #ba4a5c;
        }

        & div:nth-child(3) {
          order: 2;
        }
      }

      &__list {
        order: 1;
        width: 100%;
        height: 6rem;
        align-items: center;
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        &::-webkit-scrollbar {
          width: 7px;
          height: 7px;
          
          &-thumb {
            background: linear-gradient(15deg, #d73a3ab2 24%, #d73a3ab2 67%);
          }

          &-track {
            background: #141414;
          }
        }

        &__item {
          width: 5rem;
          height: 5rem;
          border-radius: 25%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin: auto 0.4rem;
          cursor: pointer;
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0%);
          }

          &:hover .collectif__team__list__item__info {
            opacity: 1;
            
          }

          &__info {
            opacity: 0;
            transition: 1s;
            width: 100%;
            height: 100%;
            background-color: #040404bb;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            & span {
              text-align: center;
              margin-bottom: 0.5rem;
              word-wrap: break-word;

              &:nth-child(1) {
                font-weight: bold;
                text-transform: uppercase;
                font-family: Archive, sans-serif;
                font-size: 0.8em;
              }

              &:nth-child(2), &:nth-child(3) {
                display: none;
              }
            }
          }
        }
      }

      &__button {
        display: block;
        border: 1px solid #ba4a5c;
      }
    }

}


@media (min-width: 800px) {  
  .collectif {
    width: 80%;

    &__team {
      flex-direction: row;
      justify-content: space-between;

      &__display {
        order: 1;
        width: 40%;
        
        &__container {
          width: 70%;
        }
      }

      &__list {
        order: 2;
        width: 58%;
        height: 60vh;
        padding: 1rem;
        overflow: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        &__members {
          order: 2;
          width: 100%;
          height: 100%;
          padding: 1rem;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }
        &__button {
          order: 2;
        }

        &__item {
          width: 10rem;
          height: 10rem;
          margin-bottom: 0.5rem;

          &__info {
            opacity: 0;
            transition: 1s;
            width: 100%;
            height: 100%;
            background-color: #040404bb;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & span {
              text-align: center;
              margin-bottom: 0.5rem;

              &:nth-child(1) {
                font-weight: bold;
                text-transform: uppercase;
                font-family: Archive, sans-serif;
                font-size: 1.2em;
              }

              &:nth-child(2), &:nth-child(3) {
                display: block;
              }

              &:nth-child(2) {
                color: #ba4a5c;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }
}


@media (min-width: 1150px) {  
  .collectif {
    width: 70%;
  }
}

.tab {
  text-align: center;
  font-size: 1.8em;
  padding: 0.5rem;
  transition: 0.5s;
  width: 100%;
  cursor: pointer;


  &__active {
    border-radius: 15px 15px 0 0;
    background-color: #d73a3ab2;
  }
}

.teamMemberContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    max-width: 95%;
    height: 10rem;
    margin-top: 0.5rem;
  }
  & p {
    line-height: 1.3;
  }

  &__name {
    margin-top: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Archive, sans-serif;
    font-size: 1.2em;
    color: #d73a3ab2;
    letter-spacing: 5px;
    
  }

  &__role {
    font-weight: bold;
  }

  &__pronouns {
    font-style: italic;
  }

  &__description {
    text-align: justify;
    margin: 1rem;
  }
}

