

.body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
/* HEADER------------------------------------------------------------------- */
.header {
    // background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    max-width: 65vw;
    margin: auto;
    text-transform: uppercase;
    font-family: Archive, sans-serif;
    z-index: 1;

    &__title {
        font-size: 3em;
        width: 100%;
        text-align: center;
        margin: 1rem auto 0;
        color: #d73a3b;
        opacity: 0.75;
        text-shadow: 1px 1px 1px #1a1a1a;
    }

    &__subtitle {
        font-size: 2em;
        font-weight: bold;
        width: 100%;
        margin: 0 auto 1rem;
        color: #b6c6c7;
        display: flex;
        justify-content: space-evenly;
    }

    &__nav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 70vw;
        margin: auto;
        padding: 1rem auto;
        border-top: 1px solid #d73a3b;
        border-bottom: 1px solid #d73a3b;
        font-size: 1.5rem;
    
        &__item {
            margin: 0.5rem;
        }
    
        &__link {
            margin: 1rem;
            color: #086766;
            transition: 0.5s;
    
            &:hover {
                color: #d73a3b;
            }
        }
    }
}

@media (min-width: 500px) {  
}


@media (min-width: 710px) {  
    .header__nav__list {
        flex-direction: row;
        justify-content: space-evenly;

        &__item {
            margin: 1rem 0.5rem;
        }
    }

    .header__title {
        font-size: 4em;
    }

    .header__subtitle {
        font-size: 2.5em;
    }
}


@media (min-width: 900px) {  
    .header__title {
        font-size: 5em;
    }

    .header__subtitle {
        font-size: 3em;
    }
 
}

@media (min-width: 1100px) {
    .header__title {
        font-size: 6em;
    }

    .header__subtitle {
        font-size: 3.5em;
    }
 
}

@media (min-width: 1500px) {
    .header__title {
        font-size: 8em;
    }

    .header__subtitle {
        font-size: 4em;
    }
 
}

/* MAIN------------------------------------------------------------------- */
.main {
    background-image: url("../public/images/accueil.jpg");
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    z-index: -1;
}

@media (min-width: 1100px) {
    .main {
        background-color: #040404;
        background-size: contain;
        background-position: center;
    }
 
}


/* FOOTER------------------------------------------------------------------- */
.footer {
    width: 100vw;
    height: 10vh;
    background-color: #020202;
    color: #b6c6c7;
}

.footer__nav {
    height: 100%;
    max-width: 50vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1100px) {
    .footer__nav {
        justify-content: center;
        
    }
    .footer__nav div{
        margin-right: 2rem;
        
    }
 
}

.footer__nav-element {
    /* width: 30%; */
}

.footer__nav-form {
    display: flex;
}

.footer__nav-form input{
    background-color: #040404;
    border: 2px solid #2f0a0a;
    color: #b6c6c7;
    height: 1.5rem;
}

.footer__nav-form input:focus-visible{
    border: 1px solid #1c7c84;
    /* outline: 1px solid #1c7c84; */
    outline: 0;
}

.footer__nav-form button{
    background-color: #2f0a0a;
    color: #b6c6c7;
    border: 0;
    margin-left: 0.1rem;
    padding: 0 1rem;
    height: 1.5rem;
}

.footer__nav-form button:focus{
    background-color: #1c7c84;
    color: #000;
}