$light-pink-border: 1px solid #dd9ea9;
$dark-pink-border: 1px solid #651011;

.newsletter {
    overflow: auto;
    margin-top: 10vh;
    width: 80%;
    margin: auto;
    color: #b6c6c7 ;

    &__disclaimer {
        text-align: justify;
        padding: 1rem;
        line-height: 1.5;
    }

    &__error {
        text-align: center;
        padding: 1rem;
        line-height: 1.5;
        color: #d73a3b;
        opacity: 0.75;
    }

    &__form {
        height: 3rem;
        display: flex;
        justify-content: center;

        &__input, &__button {
          padding: 0.5rem;

        }
  
        &__input {
          background-color: #b6c6c7;
          height: calc(100% - 18px);
          border-radius: 25px 0 0 25px ;
          border-width: 1px;
  
          &:focus-visible {
            outline: 0;
          }
        }
  
        &__button{
          background-color: #d73a3b;
          color: #b6c6c7;
          border-left: $light-pink-border;
          border-top: $light-pink-border;
          border-right: $dark-pink-border;
          border-bottom: $dark-pink-border;
          margin-left: 0.1rem;
          height: 100%;
          border-radius: 0 25px 25px 0 ;
          opacity: 0.75;
          text-shadow: 1px 1px 1px #000;
  
          &:focus{
            background-color: #d73a3b;
            border-right: $light-pink-border;
            border-bottom: $light-pink-border;
            border-left: $dark-pink-border;
            border-top: $dark-pink-border;
            color: #000;
            text-shadow: 1px 1px 1px #b6c6c7;
          }
        }
      }
}
@media (min-width: 700px) {  
    .newsletter {
        width: 50%;
    }
}